.direnv
/result
/.qmlls.ini
build/
.cache/
logs
.vscode/

# CMake artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json
*.o
*.a
*.so
*.exe

# PKGBUILD artifacts
src/
pkg/
*.pkg.tar.zst
*.pkg.tar.xz
*.pkg.tar.gz
.SRCINFO